.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
renv/

# temporary working dirs/files
/TMP/
inst/doc
/docs/benchmarks/*reprex*

# python/PyCharm
__pycache__
/.idea

# files to understand non-DO.utils fxns
docs/*pseudocode*
